/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 mars 2015, 14:13:06
    Author     : Gato
*/

.navbar{
    font-size:18px;
    font-weight: bold;
    border-radius: 0px;
    margin-bottom: 0;
    height: 70px;
}
.navbar-default .nav .dropdown .dropdown-menu {
    border-radius: 0px 0px 0px 0px ;    
    background-color: #FFFFFF;  
    margin-top: 1px;
    margin-left: 0px;
    border: none;
}

.lienEpreuve{
    height:170px;
}


.sprint{
    height:170px;
    background-color:#E05A7E;
}

.sprint h1{ 
    vertical-align:0%;    
}

.haltero{
    background-color: #FCBEA8;
    height:170px;
}

.gym{
    background-color:#5DCEC9;
    height:170px;
}